{% extends "base.html" %}

{% block body %}

    <h2 class="center">
        List of posted comments
    </h2>

    <br>

    <div class="center">
        <hr>
        {% for review in review %}
            <p class="center italic">
                Posted by {{review[0]}} at {{review[2]}}
            </p>
            <p class="center bigger">
                {{review[1]}}
            </p>
            <hr>
        {% endfor %}
    </div>

    <h2 class="center">
        <a href="/comments">Want to post a comment ? Click here</a>
    </h2>

{% endblock %}